body {
  color: white;
  background-color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}

* {
  font-family: "Poppins", sans-serif;
}

body::selection {
  background-color: #00ffd02a;
  color: #ffffff;
}

nav {
  background-color: rgb(13, 13, 13);
  min-height: 65px;
  width: 95%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10rem;
  margin-top: 12px;
}

.logo {
  max-width: 60px;
  max-height: 60px;
}

.logo:hover {
  cursor: pointer;
}

a {
  color: rgb(188, 188, 188);
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  width: 90px;
  text-align: center;
  transition: 0.3s;
  border-radius: 50vh;
}

a:hover {
  color: white;
  background-color: #0033a0;
}

.cart {
  margin-left: 150px;
}

.about {
  margin-right: 150px;
}

.sign {
  border: none;
  width: 100px;
  height: 35px;
  background-color: rgb(215, 215, 215);
  color: rgb(26, 26, 26);
  border-radius: 3px;
  font-size: medium;
  font-weight: 600;
  transition: 0.3s;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%
  );
}

.sign:hover {
  cursor: pointer;
  background-color: #0033a0;
  color: white;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(240deg, rgb(25, 25, 25), black);
  border-radius: 30px;
  width: 300px;
  min-height: 400px;

  padding: 15px;
  margin: 50px;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.04);
  opacity: 0;
  animation: fadein 1s ease-in-out forwards;
}

.card:hover {
  transform: translateY(-10px) scale(1.04);
  background-color: rgb(35, 35, 35);
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
}

.number {
  font-size: 1.2rem;
  font-weight: bold;
}

.label {
  opacity: 0.5;
}

.car-Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carImg {
  height: 100% !important;
  width: 100% !important;
}

.car-name {
  font-size: 24px;
  margin: 0;
}
.car-disc {
  font-size: 14px;
  color: gray;
  text-align: left;
  line-height: 1.75;
  margin: 0 1rem 1rem 2.25rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
}

.car-price {
  font-family: monospace;
  color: #bababa;
  font-weight: 600;
  letter-spacing: 0.01rem;
  font-size: 1rem;
}

.wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.totalPrice {
  margin-left: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(240deg, rgb(25, 25, 25), black);
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.04);
  min-width: 500px;
  min-height: 600px;
  margin-right: 30px;
}

.pTotal {
  color: gray;
  letter-spacing: -0.5px;
}

.Clear {
  margin-top: 60px;
  background-color: #e10600;
  padding: 20px 50px;
  border-radius: 1000px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.car-toCart {
  background-color: #181818;
  border: 1px solid rgb(255, 255, 255, 0.08);
  color: white;
  height: 40px;
  width: 160px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01rem;
  border-radius: 3rem;
  margin: 5px;
  transition: 0.3s;
  opacity: 0.75;
}

.car-toCart:hover {
  scale: 1.03;
  opacity: 1;
  cursor: pointer;
  background-color: #e10600;
}
